div.nav{
    background:#21282a;
    margin-left:0px;
    margin-right:0px;
}

.card-content{
    height:5px;
    background-color:rgb(154, 147, 147);
    
}
.galery img {
    box-shadow: 0 8px 10px -4px #747f82;
    border-radius:15px;
}
div.galery .col{
    margin-bottom:5px
}

div.line1{
    height:4px;
    background-color:rgb(255, 28, 28);

}
div.gray_section_red{
    background-color:rgb(255, 28, 28);
    height: 60px;
    margin:0 0 0 0;
    position: relative;
}
span.card-title{
    color:rgb(255, 28, 28);
}


